<h3 class="text-center">User Details</h3>
<div class="table-container">
  <table class="table">
    <tbody>
      <tr>
        <th>Customer Id</th>
        <th>Name</th>
        <th>Age</th>
      </tr>
      <tr *ngFor="let user of user_details; index as i" (click)="fetchInduvidualDetails(i+1)">
        <td>{{i + 1}}</td>
        <td>{{user.name}}</td>
        <td>{{user.age}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="address-section" *ngIf="address_details">
  <h3>Address Details</h3>
  <div *ngIf="address_details.length">
    <div *ngFor="let address of address_details">
      <span [innerText]="address.address"></span>
    </div>
  </div>
  <div *ngIf="address_details.length === 0">
    No address found for the particular customer id
  </div>
</div>
